<h2>Mapping</h2>

<dl>
    <dt>Templates</dt>
        <dd>{% for template in page.openEHR.templates %}
            <a href="{{ layout.template_prefix }}/{{ template }}.{{ layout.template_suffix }}">{{ template }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}</dd>
    <dt>Archetypes</dt>
        <dd>{% for archetype in page.openEHR.archetypes %}
            <a href="{{ layout.archetype_prefix }}/{{ archetype }}.{{ layout.archetype_suffix }}">{{ archetype }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}</dd>
    <dt>CKM link</dt>
        <dd>{% if page.openEHR.ckm %}<a href="{{ page.openEHR.ckm }}">{{ page.zib.name }} on CKM</a>{% endif %}</dd>
</dl>

{% assign concept = page.name | replace: '.md', '' %}
{% assign mapping = site.data.mappings[concept] %}
{% if mapping %}
<table>
    <thead>
    {% for column in mapping[0] %}
    <th>{{ column[0] }}</th>
    {% endfor %}
    </thead>
    <tbody>
    {% for row in mapping %}
    <tr>
        {% for cell in row %}
        <td>{{ cell[1] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
Deze mapping is beschikbaar als <a href="{{ layout.mapping_prefix }}/{{ concept }}.csv">{{ concept }}.csv</a> bestand.
{% endif %}
