---
layout: default
mapping_prefix: https://github.com/openehr-nl/ZIBs-on-openEHR/blob/master/mappings
template_prefix: https://github.com/openehr-nl/ZIBs-on-openEHR/blob/master/local
template_suffix: t.json
archetype_prefix: https://github.com/openehr-nl/ZIBs-on-openEHR/blob/master
archetype_suffix: adl
---

<h1>{{ page.title }}</h1>

<dl>
    <dt>Versie</dt>
        <dd>{{ page.version }}</dd>
    <dt>Status</dt>
        <dd>{% assign status_text = page.status.template %}
            <span>{% include status.html status=status_text %} &nbsp; </span>
        </dd>
    <dt>Labels</dt>
        <dd>{% if page.tags %}{{ page.tags | sort | array_to_sentence_string }}{% endif %}</dd>
    <dt>Informatiestandaard</dt>
        <dd>{% if page.categories %}{{ page.categories | array_to_sentence_string }}{% endif %}</dd>
    <dt>Auteur(s)</dt>
        <dd>{% if page.authors %}{{ page.authors | sort | array_to_sentence_string }}{% endif %}</dd>
    <dt>Laatste wijziging</dt>
        <dd>{{ page.date | date: "%d-%m-%Y" }}</dd>
</dl>

{% include template.html %}

{{ content }}





