---
layout: default
ckm_prefix: https://ckm.openehr.org/ckm
github_prefix: https://github.com/openehr-nl/ZIBs-on-openEHR/blob/master
---

<h1>{{ page.title }}</h1>

<dl>
    <dt>ZIB</dt>
        <dd><a href="https://zibs.nl/wiki/{{ page.zib }}(2020NL)">{{ page.zib }}</a></dd>
    <dt>Status</dt>
        <dd>{% for status in page.status %}{% assign topic=status[0] %}{% assign status_text=status[1] %}
            <span>{{ topic }}:{% include status.html status=status_text %} &nbsp; </span>
        {% endfor %}</dd>
    <dt>Labels</dt>
        <dd>{% if page.tags %}{{ page.tags | sort | array_to_sentence_string: "en" }}{% endif %}</dd>
    <dt>Informatiestandaard</dt>
        <dd>{% if page.categories %}{{ page.categories | array_to_sentence_string: "en" }}{% endif %}</dd>
    <dt>Auteurs</dt>
        <dd>{% if page.authors %}{{ page.authors | sort | array_to_sentence_string: "en" }}{% endif %}</dd>
    <dt>Versie</dt>
        <dd>{{ page.version }}</dd>
    <dt>Laatste wijziging</dt>
        <dd>{{ page.date | date: "%d-%m-%Y" }}</dd>
</dl>

{% include mapping.html %}

{% include web_templates.html %}

{{ content }}
